<div >
<div  class="registraition-search-results-container" ng-if="!patients"></div>
<div class="registraition-search-results-container" ng-show="visibleData">
    <h6>{{countNo}} {{::'REGISTRATION_LABEL_SIMILAR_PATIENT_FOUND' | translate}}</h6>
        <table class="table">
            <thead>
            <tr>
                <th><strong>{{ ::'REGISTRATION_LABEL_ID' | translate}}</strong></th>
                <th ng-repeat = "type in ::extraIdentifierTypes track by $index"><strong>{{type.name}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_NAME' | translate}}</strong></th>
                <th ng-repeat = "field in ::personSearchResultsConfig.fields track by $index"><strong>{{::convertToTableHeader(field)}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_GENDER' | translate}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_AGE' | translate}}</strong></th>
                <th ng-repeat = "field in ::addressSearchResultsConfig.fields"><strong>{{::convertToTableHeader(getAddressColumnName(field))}}</strong></th>
                <th><strong>{{ ::'REGISTRATION_LABEL_REGISTRATION_DATE' | translate}}</strong></th>
                <th ng-if="::programAttributesSearchConfig.show"><strong>{{::convertToTableHeader(programAttributesSearchConfig.label)}}</strong></th>
            </tr>
            </thead>
            <tbody>
                
            <tr ng-repeat="result in patients">
                
                <td>
                    <a>
                        {{result.identifier }}
                    </a>
                </td>
                <!-- <td ng-repeat = "type in ::extraIdentifierTypes track by $index">
                    {{::result.extraIdentifiers[type.name]}}
                </td> -->

                <td>{{result.givenName}} {{result.middleName}} {{result.familyName}}</td>
                <td ng-repeat = "field in ::personSearchResultsConfig.fields track by $index">{{::result.customAttribute[field] || "" | bahmniDateInStrictMode}}</td>
                <td>{{result.gender}}</td>
                <td>{{result.age}}</td>
                <td ng-repeat = "field in ::addressSearchResultsConfig.fields">{{::result.addressFieldValue[field] || ""}}</td>
                <td>{{::result.dateCreated | bahmniDate}}</td>
                <td ng-if="::programAttributesSearchConfig.show">{{getProgramAttributeValues(result) | bahmniDateInStrictMode}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>